body,html{
	height: 100%;
	width: 100%;
	margin:0;
	padding: 0px;
	font-family: 'Inconsolata', monospace;
    overflow-x: hidden;
}

#landing-page{
	height: 100vh;
	width: 100%;
	background-image: linear-gradient(270deg, #84ffb9 0%, #66c2ff 100%);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: none;
}

.name{
	position: fixed;
	top:35%;
	font-family: 'Dancing Script', cursive;
	left: 5%;
}

.name  h1{
	font-weight: 250;
	color: white;
	font-size: 4.0rem;
}

#hand{
	width: 50px;
	animation: shake 0.5s;
	animation-iteration-count: 2;
}
#shake{
	position: fixed;
	bottom: 100px;
	right: 10px;
	float: right;
	width: 200px;
	margin: 0;
	padding: 0;
}
#finger{
	margin-left: 30px;
	animation: point 0.5s;
	animation-iteration-count: 2;
}

.svgg{
	width: 50px;
	position: absolute;
    bottom: 15%;
 	left: 50%;
  	transform: translate(-50%, 0);
}

.social-connect{
	position: absolute;
	bottom: 3%;
}

.social-connect a{
	text-decoration: none;
	color: white;
	border-bottom: 1px solid white;
	margin-left: 50px;
	text-align: center;
}

.svg-up{
	width: 50px;
	margin:3% auto;
}

.btn{
	float: right;
	margin:3%;
	background-color: transparent;
	color: white;
	border-radius: 25px;
	font-weight: 700;
}

.btn:hover{
	color: white;
	background-color: transparent;
}

.info{
	margin-bottom: 10%;
	display: none;
	width: 100%;
	background-color: #fff;	
}

.about{
	font-size: 1.2rem;
	padding: 5% 15%;
}

.box{
	min-height: 350px;
	-webkit-box-shadow: -2px 1px 18px -2px rgba(0,0,0,0.74);
	-moz-box-shadow: -2px 1px 18px -2px rgba(0,0,0,0.74);
	box-shadow: -2px 1px 18px -2px rgba(0,0,0,0.74);
}
.box:hover,.project_card:hover{
	-webkit-box-shadow: -4px 2px 25px -4px rgba(0,0,0,0.74);
	-moz-box-shadow: -4px 2px 25px -4px rgba(0,0,0,0.74);
	box-shadow: -4px 2px 30px -4px rgba(0,0,0,0.74);
}
#rew{
	height: 400px;
	background-image:url("Images/152748010049704833.gif");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#rgk{
	background-color:#eb4144
}

.box:hover{
	cursor: pointer;
}

.rewlogo{
	margin-top: 13%;
	display: block;
    margin-left: auto;
    margin-right: auto;
	width: 250px;
}

.img-thumbnail{
	background-color: transparent;
	border: none;
}

.ipad{
	padding: 0px;
	width: 300px;
	position: absolute;
	left: 50%;
	transform: translate(-50%,0%);
}

.text{
	text-align:center;
	padding-top: 7%;
	color: white;
}

#row{
	margin-top: 5%;
	padding: 0px;
}


.info_header{
	margin-top: 3%;
	margin-bottom: 3%;
}

.info_header h3{
	text-align: center;
	font-family: 'Monoton', cursive;
	font-size: 2.2rem;
}

.lang{
	width: 100%;
	background-color: #f8f7fa;
	text-align: center;
}
.logo-lng{
	width: 40px;
}

#map{
	position: absolute;
 	width: 100%;
 	padding-bottom: 25%;
}

.text__modal{
	text-align: center;
	position: relative;
	top:50%;
	transform: translate(0,-50%);

}

.form{
	position: relative;
	left: 50%;
	transform: translate(-50%,0);
	top: 250px;
	width: 80%;
	z-index: 100;
}

.form-control{
	border: none;
	border-bottom:1px solid #fff;
}

input{
	height: 55px;
}
textarea{
	height: 125px;
}

.btn_class{
	width: 150%;
	text-align: center;
}

.btn-primary{
	width: 20%;
	padding: 10px;
	background-color: #ff5252;
	border: none;
}

.btn-primary:hover{
	background-color: #ff5252;

}

.touch{
	text-align: center;
	color: #fff;
	font-family: 'Dancing Script', cursive;
}

.touch h3{
	font-size: 2.7rem;

}

.touch img{
	margin-left: 20px;
	width: 40px;
}

.modal{
	position: fixed;
	width: 80%;
	height: 40%;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 1;
	background-image: linear-gradient(to right, #ed6ea0 0%, #ec8c69 100%);
	color: white;
	/* display: none; */
	padding: 50px;
	border-radius: 25px;
}
/*---------------------Modals--------------------------------*/

.links a{
	color: #fff;
	border-bottom: 1px solid #fff;
}

.links a:hover{
	text-decoration: none;
}
.java-logo{	
	position: absolute;
	left: 50%;
	transform:translate(-50%,0%);
	max-width: 10rem;
}
.col-xs-3 a{
	font-size: 1.2rem;
}
.project_image{
	max-height: 200px;
	max-width: 400px;
	position: absolute;
	top:30px;
}

.project_card{
	margin-top:30px;
	min-height: 300px;
	background: #f8f7fa;
	-webkit-box-shadow: -2px 1px 18px -2px rgba(0,0,0,0.74);
	-moz-box-shadow: -2px 1px 18px -2px rgba(0,0,0,0.74);
	box-shadow: -2px 1px 18px -2px rgba(0,0,0,0.74);
}
.content_project{
	padding-left:50px;
	padding-top: 50px;
}
.time_job{
	color: #fff;
	position: absolute;
	bottom: 10px;
	right: 10px;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
.image_project{
	overflow: hidden;
}
#music_app{
	padding: 0px;
	background-image: url("Images/songsapp.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-origin: content-box;
	background-position: center;
}
#dice_game{
	padding: 0px;
	background-image: url("Images/dice_game.jpg");
	background-repeat: no-repeat;
	background-size: contain;
	background-origin: content-box;
	background-position: center;
}
#kattis{
	padding: 0 15px;
	background-image: url("Images/kattis.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-origin: content-box;
	background-position: center;	
}
#cms{
	padding: 0px;
	background-image: url("Images/cms.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-origin: content-box;
	background-position: center;
}
.row{
	height: 100%;
}
/* optional: show position indicator in red */
	@media only screen and (max-width: 600px) {
		#btn{
			margin-top: 10%;
			float: none;
		}
		#landing-page{
		background-image: linear-gradient(180deg, #84ffb9 30%, #66c2ff 100%);
	
		}	
		.social div a img{
			height: 40px;
			margin-top: 3%;
		}
		#map{
			padding-bottom: 50%;
		}
		.name  h1{
			font-size: 3.0rem;
		}
		#finger{
		margin-left: 0px;
		}
		.social-connect a{
		margin-left: 30px;
		}	
		input{
			height: 40px; 
		}
		textarea{
			height: 50px;
		}
		#shake{
			width: 150px;
		}
		.box{
			margin-top:20px;
		}
		.project_card{
			height: 500px;
		}
		.content_project{
			max-height: 200px;
		}
	}
	@media only screen and (max-width: 769px) {
		.project_card{
			height: 500px;
		}
		.content_project{
			max-height: 300px;
		}
		.modal{
			position: fixed;
			width: 80%;
			height: 80%;
			padding: 30px 10px;
		}
		.image_project{
			min-height: 200px;
		}
	}
	@media only screen and (max-width: 470px) {
		.project_card{
			height: 600px;
		}
		.content_project{
			max-height: 400px;
		}
		.social-connect a{
			margin: 5px;
		}
	}
	@keyframes point{
	
		0% {     
		-ms-transform: rotate(-30deg); /* IE 9 */
		-webkit-transform: rotate(-30deg); /* Safari */
		transform: rotate(-30deg);
			}
		50% { 
		-ms-transform: rotate(-20deg); /* IE 9 */
		-webkit-transform: rotate(-20deg); /* Safari */
		transform: rotate(-20deg);
			}
		75%
			{
			-ms-transform: rotate(-10deg); /* IE 9 */
			   -webkit-transform: rotate(-10deg); /* Safari */
			transform: rotate(-10deg);
			}	
		100% { 
			-ms-transform: rotate(0deg); /* IE 9 */
			-webkit-transform: rotate(0deg); /* Safari */
			transform: rotate(0deg);
			}
	}
	
	@keyframes shake {
		0% { transform: translate(1px, 1px) rotate(0deg); }
		10% { transform: translate(-1px, -2px) rotate(-1deg); }
		20% { transform: translate(-3px, 0px) rotate(1deg); }
		30% { transform: translate(3px, 2px) rotate(0deg); }
		40% { transform: translate(1px, -1px) rotate(1deg); }
		50% { transform: translate(-1px, 2px) rotate(-1deg); }
		60% { transform: translate(-3px, 1px) rotate(0deg); }
		70% { transform: translate(3px, 1px) rotate(-1deg); }
		80% { transform: translate(-1px, -1px) rotate(1deg); }
		90% { transform: translate(1px, 2px) rotate(0deg); }
		100% { transform: translate(1px, -2px) rotate(-1deg); }
	}